// sass  --watch ./sass/02-exo.scss ./02-exo.css
@import "./responsive";

$grille1: 1fr 1fr;

/* responsive */

@mixin left-apparition{
    @keyframes apparition{
        from{transform: translate(-2000px);
            background:#35495e;}
        to{transform: translate(0);
            background:#fff;}
    }
}

@mixin carte{
    @keyframes map{
        from{transform: translate(2000px);
        background: #c9485b;}
        to{transform: translate(0);
            background: #fff;}
    }
}

.container{
    margin: 0 auto;
    width: 960px;
    @media #{$smartphone-portrait},#{$smartphone-paysage},#{$tablette-portrait},#{$tablette-paysage}{
        width: 100%;
    }

}

// cette règle garantie que l'iframe ne va pas dépasser de la colonne de la grille
iframe {
    width: 100% !important;
    height: 300px !important;
  }

section{
    display: grid;
    grid-template-columns: $grille1;
    grid-gap: 30px;
    align-items: center;
    form{
        animation: apparition 1s;
    }
    iframe{
        animation: map 1s;
    }
    @media #{$tablette-portrait}{
        grid-template-columns: 1fr;        
    }
}

form div{
    margin: 10px 0;
    &:first-child{
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-gap: 10px;
    }
    &:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-gap: 10px;
    }
    &:last-child{
        display: grid;
        justify-content: center;
    }
}

@include left-apparition();
@include carte();